<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BalajiProductsManagementEntities" connectionString="metadata=res://*/DataContext.BalajiProductManagement.csdl|res://*/DataContext.BalajiProductManagement.ssdl|res://*/DataContext.BalajiProductManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Victor;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>